extends layout 
 
block content 
  h1(class = 'container-fluid p-5 bg-success text-info text-center')= title 
  if (toShow == null) 
    h2 No instance to delete 
  else
    - let iceCreamid = toShow._id 
    - let icecream_brand = toShow.icecream_brand 
    - let icecream_flavour = toShow.icecream_flavour
    - let calories = toShow.calories

    div(class='justify-content-center p-2 text-center text-dark',style='background-color:red')
      div.row 
        div(class='iceCreamAttr mr-3') iceCream ID is: 
        div #{iceCreamid} 
      div.row 
        div(class='iceCreamAttr mr-3') iceCream brand  is: 
        div #{icecream_brand} 
      div.row 
        div(class='iceCreamAttr mr-3') iceCream quantity is: 
        div #{icecream_flavour} 
      div.row 
        div(class='iceCreamAttr mr-3') iceCream calories is: 
        div #{calories} 