extends layout

block content
  div(class='container')
        h1(style="text-align: center; color: #863A6F")= title
        - var results = results
        div(class='container' style="text-align: center;")  
            div.row 
                each item, index in results
                    div(class='col-md')
                        div(class='card', style='width: 17rem;')
                            div(class='card-body')
                                - let destination = `dispatch(\"/icecreams/update?id=${item._id}\")`
                                div(class='card-text', onclick=`buy(${index})`) icecream_brand: #{item["icecream_brand"]} <br> icecream_flavour:  #{item["icecream_flavour"]} <br> calories:  #{item["calories"]}
                                 button.btn(class="btn btn-primary btn-sm ml-1", style="margin: 5px; width: 130px;", onclick= destination) Update
  script. 
    function buy(index) {
        alert("You purchased item " + index)
    }
    function dispatch(path) {
            window.location.href = path;
      }